# app
config/

# testing
test.py

# system
.bash_history

# python
*.pyc

# pycharm
.idea/
.pycharm_helpers/

# Packages
*.egg
*.egg-info
build
dist

# tox
.tox

# pytest
.pytest_cache
.cache
.coverage